:root {
  --blue: #0267cc;
  --dark: #210F37;
  --red: #872341;
  --med-size: 18px;
  --font-family: "Big Shoulders", sans-serif;
  color: white;
}
* {

  font-family: var(--font-family);
  font-optical-sizing:auto;
  font-style: normal;
  letter-spacing: 1px;
}
body{
  background-color: var(--dark);
  padding: 5px;
  margin: 0;
}
.container{
  display: flex;
  gap: 5px;
  width: 100%;
  height: 100vh;
  overflow:hidden;
}

.tree-container{
  width: 80%;
  height: 100%;
  border: 1px solid var(--dark);
  overflow-y:auto;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
  border-right: 3px solid rgba(71, 71, 71, 0.781);
  padding: 5px;
}

.menu{
  width:20%;
  height: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  background-color: var(--dark);
}
.select-file{
  background-color: var(--red);
  border: none;
  width: 100%;
  height: 20px;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px black;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: var(--med-size);
  font-family: var(--font-family)
}

.select-file input[type=file] {
    position: absolute;
    height: 20px;
    top: 0;
    right: 0;
    width: 90px;
    height: 35px;
    outline: none;
    cursor: pointer;
    opacity: 0;
}

.slider-value{
  font-size: 20px;
  position: relative;
  bottom: 35px;
}
.select-file:hover, .reset-btn:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.filter-slide{
  border: 2px solid var(--dark);
}
text{
  pointer-events: none;
}
path{
  fill: none;
}
.rect-tooltips{
  z-index: 10000;
}
.filters{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

 .year-filter-container, .frequency-filter-container{
  display: flex;
  gap: 10px;
}


.year-filter-slide, .frequency-filter-slide{
  flex: 2;
}

.year-filter-value, .frequency-filter-value{
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  
}
.min-year-filter-value, .max-year-filter-value{
  font-size: 18px;
  
}
.year-filter, .frequency-filter{
  font-size: 18px;
  font-weight: 500;
  
  flex: 1;
  display: flex;
  justify-content: center;
} 

.double-slider {
  position: relative;
  top: 25px;
  flex: 2;
}

.double-slider input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
  z-index: 2;
  background: none;
}

.double-slider input[type="range"]::-webkit-slider-thumb {
  position: relative;
  bottom: 5px;
  pointer-events: all;
  width: 8px;
  height: 20px;
  border-radius: 20%;
  -webkit-appearance: none;
  background: var(--red);
  cursor: pointer;
}

.double-slider input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ffffff;
  border-radius: 3px;
  border: none;
}

#max-year-slider::-webkit-slider-runnable-track {
  background: none;
}

input[type='range']{
   accent-color: var(--red)
   }
.search-word-color, .search-year-color, .search-frequency-color{
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  z-index: 1000;
  display: flex;
}

#word-color, #year-color , #frequency-color{
  position: absolute;
  right: 10px;
  height: 49px;
  width: 30px;
  border: none;
  border-radius: 10px;
  outline: none;
  visibility: hidden;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

#searchWord, #searchYear, #searchFrequency{
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  outline: none;
}

#notification {
  position: fixed;
  top: 10px;
  left: 50%;
  /* transform: translateX(-50%); */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s, top 0.3s;
  pointer-events: none;
  
}

.timeline-animation-container, .degree-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.timeline-animation{
  display: flex;
  gap: 10px;
}
.degree-selection{
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
}
#timeSlider{
  flex: 8;
}
#playButton{
  border: none;
  padding: 10px;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px black;
}
#animation-type{
  width: 100%;
  border: none;
  align-self:flex-end;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  
}
#playButton:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.stop{
  width: 0;
  height: 0;
  margin-left: 2px;
  border-top: 8px solid transparent;
  border-left: 16px solid #4B4376;
  border-bottom: 8px solid transparent;
}
.run{
  width: 6px;
  height: 15px;
  border-right: 5px solid #4B4376;
  border-left: 5px solid #4B4376;
}

#mode-btn{
  position: relative;
  right: 0;
  padding: 5px;
  background-color: var(--red);
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px black;
  cursor: pointer;
  outline: none;
}
.reset-btn{
  background-color: #210F37;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px black;
  cursor: pointer;
  outline: none;
  padding: 5px;
  margin-left: 5px;

}